[Desktop Entry]
Name=Python (v2.5)
Comment=Python Interpreter (v2.5)
Exec=/usr/bin/python2.5
Icon=/usr/share/pixmaps/python2.5.xpm
Terminal=true
Type=Application
Categories=Development;
StartupNotify=true
NoDisplay=true
